
.header{
    padding: 10px;
    background-color: #1CD1B0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.title {
    background-color:#00669F;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 3px;
    padding-left: 30px;
    position: -webkit-sticky; 
    position: sticky;
    top: 0px;
}

#section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 40px;
   }

.card {
       display: inline-block;
       width: 300px;
       height: 550px;
       margin-left: auto;
       margin-right: auto;
       margin-top: 40px;
       background-color: #F3F3F3;
}

@media (min-width: 768px) {
    #section {
        flex-flow: row wrap;
    }
}

.card p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: justify;
    padding-left: 13px;
    padding-right: 13px;
}

.card h2{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: center;
}
.button {
    background-color:#00669F;
    font-family: 'Roboto', sans-serifl;
    color:#FFFFFF;
    font-size: 15px;
    min-width: 100px;
         
}

.description {
    text-align: center;
}

.image {
    position: relative;
    width: 300px;
    margin-bottom: 80px;
}

.image1 {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 20px;
    }

.image2{
    position: absolute;
    z-index: 10;
    left: 100px;
    top: 145px;
    border-radius: 150px;
    width: 100px;

}

.fa-heart {
    position: absolute;
    z-index: 10;
    left: 30px;
    top: 30px;
    border-radius: 150px;
    color: #CC2424;
    font-size: 25px;
}

#footer {
    background-color:#00669F;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 7px;
}